body{
    margin: 50px;
}

.box{
    border-width: 3px;
    border-style: solid;
    width:30%;
    height:100px;
    
    margin: 25px;
}
#box1{
    background-color: rgb(166, 17, 109);
    margin: auto;
}   
#box2{
    background-color: blanchedalmond;
    margin-left: auto;
}   